@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root{
  --main-font: 'Montserrat', sans-serif;
  --box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  --bg-color: #ecf0f3;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

body{
  
}

h1{
  font-size: 2rem;
}

p{
  color: #77797a;
  font-size: 0.9rem;
}

.container{
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  height: 500px;
  width: 800px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  
}

.card-welcome{
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  background-color: var(--bg-color);
  box-shadow: 5px 8px 8px #d1d9e6, -10px -10px 10px #f9f9f9;
  
}

.card-welcome:before{
  content:'';
  position:absolute;
  top:0;
  right: 0;
  border-bottom-left-radius: 50vw;
  box-shadow: -10px -10px 10px #f9f9f9, 0 5px 10px #d1d9e6;
  border: 65px solid var(--bg-color);
}

.card-welcome:after{
  content:'';
  position:absolute;
  bottom:0;
  left: 0;
  border-top-right-radius: 50vw;
  box-shadow: 10px 10px 10px #f9f9f9, -10px -10px 10px #d1d9e6;
  border: 65px solid var(--bg-color);
}

.card-welcome p{
  line-height: 1.8;
  padding: 30px;
}

.card-login{
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  width: 55%;
  height: 100%;
  background-color: var(--bg-color);
}

.social{
  color: #77797a;
  margin: 20px 0;
  
}
.social i{
  padding: 5px;
  border-radius: 50vw;
  border: 2px solid #77797a;
}

.card-login p{
  padding: 10px;
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  margin: 7px 0;
  padding: 0 15px;
  height: 30px;
  width: 260px;
  border: none;
  background-color: var(--bg-color);
  border-radius: 6px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.boton{
  background-color: #4b70e2;
  color: #fff;
  border: none;
  font-weight: bolder;
  padding: 18px 50px;
  border-radius: 50px;
  box-shadow: 5px 7px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  transition: 0.4s;
}

.boton:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
}

form button{
  margin: 50px auto;
  width: 20ch;
}